<div class="icons_with_text divider">
  <div class="icon_with_text">
    <img src="{{ block.settings.first_image | image_url }}" width="50" height="50" loading="lazy" alt="{{ block.settings.first_title }}">
    <p>{{ block.settings.first_title }}</p>
  </div>
  <div class="icon_with_text">
    <img src="{{ block.settings.second_image | image_url }}" width="50" height="50" loading="lazy" alt="{{ block.settings.first_title }}">
    <p>{{ block.settings.second_title }}</p>
  </div>
  <div class="icon_with_text">
    <img src="{{ block.settings.third_image | image_url }}" width="50" height="50" loading="lazy" alt="{{ block.settings.first_title }}">
    <p>{{ block.settings.third_title }}</p>
  </div>
</div>